* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: aliceblue;
  --background-calendar: #4a494d;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(190px);
  background-color: rgb(59, 59, 102);
  height: 100vh;
  font-family: system-ui;
}

.wrapper {
  background-color: var(--background-calendar);
  width: 700px;
  height: 440px;
  display: flex;
  justify-content: start;
  border-radius: 10px;
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.623);
  padding: 40px;
}

#prev, #next {
  cursor: pointer;
}

#calendar {
  width: 310px;
  height: 410px;
}

.header {
  height: 30px;
  width: 100%;
  display: flex;
  color: var(--color-primary);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.header h1 {
  font-size: 25px;
}

.weeks {
  display: flex;
  justify-content: center;
  gap: 14px;
  font-size: 17px;
  list-style-type: none;
  color: aliceblue;
}

.weeks li {
  font-weight: 400;
  padding: 2px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5.5px;
  justify-content: center;
  align-items: center;
}

.days li {
  list-style: none;
  text-align: center;
  font-size: 15px;
  color: white;
  padding: 0.7rem;
  border-radius: 5px;
  transition: background 0.5s;
}

.days li.today {
  background-color: #398be7;
  font-weight: 600;
}

.days li.last-days {
  color: rgba(255, 255, 255, 0.5);
}

.days li:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

#show-tasks {
  width: 300px;
  height: 300px;
  background-color: #f3f4f6;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
}

.header-tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.header-tasks h2 {
  font-size: 24px;
  color: #4a4a4a;
  font-weight: 600;
  margin: 0;
}

.task-day {
  background: linear-gradient(135deg, #9e67e0, #6c3db9) !important;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 250px;
  overflow-y: auto;
  width: 100%;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ecebeb;
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 16px;
  color: #555;
  border: 1px solid #f1f0f0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s;
  transform: translateY(-2px);
  width: 100%;
}

.task-list li:hover {
  background-color: #f4f4f4;
}

.task-list li button {
  background-color: transparent;
  border: none;
  color: #ff5252;
  font-size: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.task-list li button:hover {
  color: #e53935;
}

/* Estilo do ícone e hora na tarefa */
.task-time {
  font-size: 12px;
  color: #8b8b8b;
  display: flex;
  align-items: center;
  gap: 5px;
}

.task-time .material-symbols-outlined {
  font-size: 14px;
  color: #8b8b8b;
}

.task-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.task-input input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  font-size: 14px;
  color: #555;
  transition: border-color 0.3s ease;
}

.task-input input:focus {
  outline: none;
  border-color: #398be7;
}

.task-input button {
  padding: 12px 24px;
  background-color: #398be7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.task-input button:hover {
  opacity: 0.8;
}

#today-btn {
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.icons-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 5px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-calendar);
  border-radius: 10px 10px 0 0;
  position: absolute;
  bottom: 0;
}

#current-date {
  font-size: 16px;
  color: white;
  font-weight: bold;
}

#current-time {
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding-left: 10px;
}
